.ocean {
  height: 7.7%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #2267b2;
  z-index: 1;
}

.wave {
  background: url("../../assets/bg.svg") repeat-x;
  position: absolute;
  top: -150px;
  width: 4848px;
  height: 150px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -127px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1212px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -20px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
